.Privacy_policy {
    margin: 30px 0px 86px;
    background-color: #121212; 
    padding: 20px 0;
}

.Privacy_policy .commontitle_div .maintitle {
    display: none;
}

.Privacy_policy .white_card {
    background: #1e1e1e; 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
    padding: 40px;
}

.Privacy_policy .white_card .point_title {
    font-size: 16px;
    color: #f5f5f5; 
    font-weight: 600;
    margin-bottom: 2px;
}

.Privacy_policy .white_card .descn_text {
    font-size: 14px;
    color: #ccc; 
    font-weight: 400;
    margin-bottom: 15px;
}

.Privacy_policy .white_card .simple_text {
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
    margin-bottom: 0px;
}

.Privacy_policy .white_card .inner_simple_text {
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 20px;
}

.Privacy_policy .white_card .note_text {
    font-size: 17px;
    color: #f5f5f5;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 20px;
    text-align: center;
}

@media (min-width:0px) and (max-width:991px) {
    .Privacy_policy .white_card {
        padding: 20px;
    }

    .Privacy_policy .white_card .descn_text {
        font-size: 13px;
    }

    .Privacy_policy .white_card .point_title {
        font-size: 15px;
    }

    .Privacy_policy .white_card .note_text {
        font-size: 15px;
        text-align: left;
    }
}
