.Faq_section {
  margin-bottom: 5%;
  background-color: #1b1b1b;
  color: #ffffff;
}

.Faq_section .banner_div {
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 20px;
}

.Faq_section .banner_div .faq-banner {
  width: 100%;
  height: auto;
  transition: 0.3s;
  filter: brightness(0.8);
}

.Faq_section .faq_div {
  margin-top: -5%;
  transition: 0.3s;
}

.Faq_section .faq_div .accordion {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  position: relative;
}

.Faq_section .faq_div .accordion .accordion-item {
  border: 0px;
  margin-bottom: 15px;
  background-color: #2a2a2a;
}

.Faq_section .faq_div .accordion .accordion-button {
  background: #2a2a2a;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
}

.Faq_section .faq_div .accordion .accordion-button:focus {
  box-shadow: none;
}

.Faq_section .faq_div .accordion .accordion-button:not(.collapsed) {
  box-shadow: none;
}


.Faq_section .faq_div .accordion .accordion-button::after,
.Faq_section .faq_div .accordion .accordion-button:not(.collapsed)::after,
.Faq_section .faq_div .accordion .accordion-button.collapsed::after {
  filter: invert(1);
}


.Faq_section .faq_div .accordion .content {
  font-size: 16px;
  color: #ccc;
}


@media (min-width: 992px) {
  .Faq_section:hover .faq_div {
    margin-top: -10%;
    transition: 0.3s;
    position: relative;
  }

  .Faq_section:hover .banner_div .faq-banner {
    transform: scale(1.2);
    transition: 0.3s;
    opacity: 0.5;
  }
}


@media (max-width: 991.98px) {
  .Faq_section.in-view .faq_div {
    margin-top: -10%;
    transition: 0.3s;
    position: relative;
  }

  .Faq_section.in-view .banner_div .faq-banner {
    transform: scale(1.2);
    transition: 0.3s;
    opacity: 0.5;
  }
}


@media (min-width: 0px) and (max-width: 991px) {
  .Faq_section .faq_div .accordion {
    padding: 10px;
  }

  .Faq_section .faq_div .accordion .content {
    font-size: 14px;
  }

  .Faq_section .faq_div .accordion .accordion-item .accordion-button {
    font-size: 15px;
  }
}