.Who_we_are_sec {
    margin-bottom: 5%;
    background: black;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.Who_we_are_sec::before {
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    background: black;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(90px);
    opacity: 0.45;
    pointer-events: none;
}

.Who_we_are_sec::after {
    content: "";
    position: absolute;
    width: 380px;
    height: 380px;
    background: black;
    bottom: -80px;
    right: -80px;
    filter: blur(100px);
    opacity: 0.5;
}

.Who_we_are_sec .left_sec {
    padding-right: 40px;
}

.Who_we_are_sec .common_title_div {
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}

.Who_we_are_sec .common_title_div .title {
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
}

.Who_we_are_sec .common_title_div .title::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    background: #ffb703; 
    bottom: 0;
    left: 0;
    border-radius: 2px;
    transition: width 0.4s ease;
}

.Who_we_are_sec:hover .common_title_div .title::after {
    width: 120px;
}

.Who_we_are_sec .whowecontent {
    font-size: 17px;
    color: #d9d9d9;
    line-height: 1.8;
    margin-bottom: 15px;
}

.Who_we_are_sec .rightsec {
    position: relative;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.15);
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    transition: all 0.4s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}


.Who_we_are_sec .rightsec .welogo {
    width: 65%;
    transition: 0.4s ease;
    opacity: 0.35;
}

.Who_we_are_sec .rightsec:hover .welogo {
    transform: scale(1.08);
    opacity: 1;
}

.Who_we_are_sec .rightsec .icondiv {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ffb703;
    width: 70px;
    height: 70px;
    border-radius: 0px 18px 0px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s ease;
    box-shadow: 0 5px 15px rgba(255,183,3,0.45);
}

.Who_we_are_sec .rightsec .icondiv .rightarrow {
    font-size: 42px;
    transform: rotate(320deg);
    color: #121212;
}

.Who_we_are_sec:hover .rightsec {
    transform: translateY(-6px);
    border-color: #ffb703;
}

@media (min-width: 992px) {
  .Who_we_are_sec:hover .rightsec .icondiv {
    top: -18px;
    right: -18px;
  }
}

@media (max-width: 991px) {
    .Who_we_are_sec,
    .Who_we_are_sec .common_title_div,
    .Who_we_are_sec .rightsec {
        text-align: center;
    }

    .Who_we_are_sec .left_sec {
        padding-right: 0px;
    }

    .Who_we_are_sec .rightsec .welogo {
        width: 40%;
    }

    .Who_we_are_sec .rightsec {
        height: 300px;
    }

    .Who_we_are_sec .common_title_div .title::after {
        left: 50%;
        transform: translateX(-50%);
    }
}
