.Service_content_sec {
  background: linear-gradient(#1b1b1b 0%, #222 10%, #2a2a2a 100%);
  padding: 5% 0%;
  color: #ffffff;
}

.Service_content_sec .content-div {
  margin-top: 4%;
}

/* Left section titles */
.Service_content_sec .content-div .left-sec .cabtitle {
  font-weight: 800;
  font-size: 32px;
  color: #ffffff; /* white text */
  border-bottom: 3px solid #fcd12a; /* yellow accent */
  width: fit-content;
  padding-bottom: 10px;
}

.Service_content_sec .content-div .left-sec .one {
  font-size: 48px;
  color: #ffffff; /* white text */
  font-weight: 800;
  margin-bottom: 0px;
  position: relative;
  width: fit-content;
}

.Service_content_sec .content-div .left-sec .one span {
  position: relative;
}

.Service_content_sec .content-div .left-sec .one::before {
  content: "";
  position: absolute;
  border-radius: 4px;
  background: linear-gradient(0deg, #2a2a2a 0%, #fcd128 100%); /* subtle dark + yellow */
  width: 70px;
  height: 70px;
  bottom: 0px;
  right: -17px;
}

/* Content text */
.Service_content_sec .content-div .content {
  margin-top: 15px;
  font-size: 15px;
  color: #ccc; /* light gray for readability */
}

/* Banner image container */
.Service_content_sec .content-div .banner-div {
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 20px;
}

/* Banner image */
.Service_content_sec .content-div .banner-div .banner-img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s;
}

/* Hover effects for desktop */
@media (min-width: 992px) {
  .Service_content_sec .content-div .banner-div:hover .banner-img {
    transform: scale(1.2);
    transition: 0.3s;
  }
}

/* Mobile view */
@media (max-width: 991.98px) {
  .Service_content_sec .content-div .banner-div.in-view .banner-img {
    transform: scale(1.2);
    transition: 0.3s;
  }
}

/* Responsive adjustments */
@media (min-width: 0px) and (max-width: 767.98px) {
  .Service_content_sec .content-div .left-sec .one {
    font-size: 35px;
  }

  .Service_content_sec .content-div .left-sec .cabtitle {
    font-weight: 700;
    font-size: 20px;
  }

  .Service_content_sec .content-div .left-sec .one::before {
    width: 55px;
    height: 55px;
    bottom: 0px;
    right: -15px;
  }

  .Service_content_sec .content-div .content {
    font-size: 14px;
  }
}
