.commonbtndiv a {
    text-decoration: none;
}

.commonbtndiv .common-btn {
    position: relative;
    border: 0px;
    padding: 7px 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    /* background: linear-gradient(); */
    background:#2a2a2a;
}
.commonbtndiv .common-btn {
    background:#2a2a2a;
}
.commonbtndiv .common-btn:hover {
    background:#000;
}

.commonbtndiv .common-btn span {
    position: relative;
    color: #fff;
    z-index: 99;
    font-size: 16px;
    transition: 0.2s;
}
.commonbtndiv .common-btn:hover span {
    transform: scale(1.1);
    transition: 0.2s;
}

@media (min-width:0px) and (max-width:991px) {
    .commonbtndiv .common-btn span {
    font-size: 14px;
}
}
/* .commonbtndiv .common-btn:hover span {
     font-size: 18px;
     transition: 0.3s; 
} */