.How_to_book_sec {
  background: linear-gradient(black);
  padding: 5% 0;
  color: #e0e0e0;
}

.How_to_book_sec .box {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  height: 380px;                    
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.How_to_book_sec .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;               
  border-radius: 15px;
}


.How_to_book_sec h2 {
  color: #fff;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .How_to_book_sec .box {
    height: auto;                   
  }
}
