.Made_for_section {
  margin: 5% 0%;
}

.Made_for_section .banner_div {
  position: relative;
  overflow: hidden;
}

.Made_for_section .banner_div .img_div .banner_img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: 0.3s;
  object-fit: cover;
}

.Made_for_section .banner_div .overlaycolor {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.52) 20.04%,
    #fff 100%
  );
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.Made_for_section .banner_div .overlay_content {
  position: absolute;
  z-index: 999;
  width: 100%;
  text-align: center;
  bottom: 10%;
}

.Made_for_section .banner_div .overlay_content .banner-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
}

.Made_for_section .banner_div .overlay_content .banner-content {
  font-size: 20px;
  color: #000;
  margin-bottom: 0px;
}

.Made_for_section .banner_div .overlay_content .icondiv .icon {
  width: 120px;
  transition: 0.3s;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .Made_for_section .banner_div:hover .overlay_content .icondiv .icon {
    width: 180px;
    transition: 0.3s;
  }

  .Made_for_section .banner_div:hover .overlaycolor {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.52) 20.04%,
      #ffeeab 100%
    );
  }

  .Made_for_section .banner_div:hover .img_div .banner_img {
    width: 100%;
    transform: scale(1.1);
    transition: 0.3s;
  }
}

@media (max-width: 991.98px) {
  .Made_for_section .banner_div.in-view .overlay_content .icondiv .icon {
    width: 180px;
    transition: 0.3s;
  }

  .Made_for_section .banner_div.in-view .overlaycolor {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.52) 20.04%,
      #ffeeab 100%
    );
  }

  .Made_for_section .banner_div.in-view .img_div .banner_img {
    width: 100%;
    transform: scale(1.1);
    transition: 0.3s;
  }
}

@media (min-width: 0px) and (max-width: 767.98px) {
  .Made_for_section .banner_div .img_div .banner_img {
    width: 100%;
    height: 240px;
  }

  .Made_for_section .banner_div .overlay_content .banner-title {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .Made_for_section .banner_div .overlay_content .banner-content {
    font-size: 14px;
  }

  .Made_for_section .banner_div .overlay_content .icondiv .icon {
    width: 50px;
    margin-bottom: 15px;
  }

  .Made_for_section .banner_div.in-view .overlay_content .icondiv .icon {
    width: 50px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .Made_for_section .banner_div .overlay_content .banner-title {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .Made_for_section .banner_div .overlay_content .icondiv .icon {
    width: 50px;
    margin-bottom: 5px;
  }

  .Made_for_section .banner_div:hover .overlay_content .icondiv .icon {
    width: 80px;
    margin-bottom: 5px;
  }

  .Made_for_section .banner_div .overlay_content .banner-content {
    font-size: 15px;
    color: #000;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .Made_for_section .banner_div .overlay_content .icondiv .icon {
    width: 80px;
  }

  .Made_for_section .banner_div:hover .overlay_content .icondiv .icon {
    width: 130px;
  }
}
